@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
  }
  html,
  body {
    color: #393e46;
    overflow-x: hidden;
    background-color: #f8f8f8;
  }
}
.input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: transparent;
}
.align-unset {
  text-align: unset;
}
/* scrollbar design */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #d0d3d4;
  border-radius: 50vw;
}
::-webkit-scrollbar-thumb {
  background-color: #f1f0e8;
  border-radius: 50vw;
}

@layer components {
  .selected-image {
    @apply border-2 border-main-color bg-purple-500;
  }
  .small-image {
    @apply h-14 w-14 cursor-pointer rounded-md bg-[#f8f8f8] sm:h-16 sm:w-16;
  }

  .page-filter {
    @apply cursor-pointer rounded border-2 p-2 text-xs text-main-color duration-500 hover:bg-main-color hover:text-text-main md:text-base;
  }
  .active-filter {
    @apply bg-main-color  text-text-main;
  }
}
@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}
